<h2 class="text-center display-4 text-white m-5">Network graph</h2>
<div class="container">
    <div id="network-and-legend" class="row">
        <div class="col">
            <figure id="network"></figure>
        </div>
        <div class="col text-white">
            <div>
                <h3>Survolez le nom d'un service</h3>
                <div id="red">
                    <div class="red"></div>
                    <div>Dépend du ou des services</div>
                </div>
                <div id="green">
                    <div class="green"></div>
                    <div>Utilisé par le ou les services</div>
                </div>
            </div>
        </div>
    </div>
</div>